---
export const prerender = false;

import MetadataWrapper from "@layouts/metadata-wrapper.astro";
import FixedHeightBody from "@layouts/fixed-height-body.astro";
import Nav from "@components/common/nav";
import { MailIcon, LockIcon, UserIcon } from "lucide-react";

const fields: {
	name: string;
	id: string;
	type: string;
	placeholder: string;
	icon: any;
}[] = [
	{
		name: "email",
		id: "email",
		type: "email",
		placeholder: "example@gmail.com",
		icon: MailIcon,
	},
	{
		name: "password",
		id: "password",
		type: "password",
		placeholder: "password",
		icon: LockIcon,
	},
];

if (Astro.request.method === "POST") {
	try {
		const formData = await Astro.request.formData();
		const email = formData.get("email");
		const password = formData.get("password");
		const response = await fetch(
			`${import.meta.env.PUBLIC_SERVER_URL}/auth/signin`,
			{
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({
					email,
					password,
				}),
			},
		);

		const responseBody = await response.json();
		if (response.ok) {
			return new Response(null, {
				status: 302,
				headers: {
					Location: "/dashboard",
					"Set-Cookie": `accessToken=${responseBody.data.access_token}; Path=/; HttpOnly;`,
				},
			});
		} else {
			throw new Error(responseBody.message);
		}
	} catch (error) {
		if (error instanceof Error) {
			return Astro.redirect(`/auth/signin?error=${error.message}`);
		}
	}
}
---

<MetadataWrapper page="Signup">
	<FixedHeightBody>
	<Nav current="Signin" client:load />
	<div class="h-full mx-auto flex items-center justify-center">
		<form
			class="p-4 flex flex-col items-center gap-4 bg-white shadow-md rounded-lg"
			method="POST"
		>
			<UserIcon size={64} />

			<hr class="w-full mt-2 mb-1" />
			{
				fields.map((field) => (
					<div class="border px-3 py-1 flex justify-between items-center gap-2 rounded-lg">
						<label for={field.id} class="text-gray-600">
							<field.icon size={24} />
						</label>
						<input
							type={field.type}
							id={field.id}
							name={field.id}
							placeholder={field.placeholder}
							class="p-1 rounded-lg outline-none"
						/>
					</div>
				))
			}
			<button
				class="border w-full px-3 py-2 rounded-lg hover:bg-blue-500 hover:scale-105 hover:text-white ease-in-out duration-500"
				type="submit"
			>
				Signin
			</button>

			<a
				class="text-sm text-neutral-400 hover:text-blue-500 ease-in-out duration-500"
				href="/auth/forgot-password"
			>
				Forgot Password?
			</a>
			<hr class="w-full mt-2 mb-1" />
			<button
				class="border w-full px-3 py-2 rounded-lg hover:bg-blue-500 hover:scale-105 hover:text-white ease-in-out duration-500"
				type="button"
				onclick="window.location.href = '/auth/signup';"
			>
				Signup
			</button>
		</form>
	</div>
		</FixedHeightBody>
</MetadataWrapper>
